@media (min-width: 960px) {
  .VPNav.no-sidebar {
    background: transparent !important;
    backdrop-filter: none !important;
  }
}

// .VPNavBarTitle .title:hover {
//   opacity: 1 !important;
//   color: #42b883;
// }
.VPNav {
  .VPImage.logo {
    height: 30px !important;
  }

  .title {
    font-size: 17px !important;
  }
}

.no-sidebar {
  .title,
  .link,
  .button,
  .button .text,
  .VPFlyout:hover .text {
    color: #f4f4f5;
  }

  .VPNavBar {
    opacity: 0.75;
  }

  // .title:hover {
  //   opacity: 1;
  //   color: #f4f4f5;
  // }

  .link:hover,
  .button:hover,
  .button .text:hover {
    color: rgba(235, 235, 235, 0.6);
  }

  .VPFlyout:hover .icon {
    fill: rgba(235, 235, 235, 0.6);
  }

  .VPNavBarMenuGroup .menu .link,
  .VPNavScreen .menu .link,
  .VPNavScreen .menu .button-text {
    color: #213547;
  }

  .top,
  .middle,
  .bottom {
    background-color: #f4f4f5 !important;
  }

  .top:hover,
  .middle:hover,
  .bottom:hover {
    opacity: 0.75;
  }
}

.dark {
  .no-sidebar {
    opacity: 0.75;

    .VPNavBarMenuGroup .menu .link,
    .VPNavScreen .menu .link,
    .VPNavScreen .menu .button-text {
      color: #f4f4f5;
    }
  }

  .home-main {
    opacity: 0.75;
  }
}

// .has-sidebar {
//   .container {
//     max-width: 100% !important;
//   }
// }

// @media (min-width: 1440px) {
//   .VPSidebar {
//     padding-left: 32px !important;
//     width: 273px !important;
//   }
// }

.NotFound {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #3e455f;

  .code {
    padding-top: 100px;
  }

  .quote {
    color: #b1b3b8;
  }
}

.VPFooter {
  position: absolute;
  background-color: transparent !important;

  .message,
  .copyright {
    color: #b1b3b8;
  }
}
